


.container , [class*="col-"]{
  border: 1px solid red;
}

[class*="col-"]{
  height:300px;
  position: relative;
}

[class*="col-"] .nested{
  background-color: lightcoral;
  padding: 10px 10px;
  border: 1px solid white;
}
p{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.row{
  height:300px;
}
